<nav class="navbar navbar-expand-lg navbar-light bg-navbar">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 my-auto">
            <a class="navbar-brand" href="#">Cloud Tools</a>
        </div>
        
        <div class="col-sm-6 my-auto text-center">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarText">
                <ul class="navbar-nav xl-10 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ controller.resolver.generateUrl('index') }}">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="col-sm-3 my-auto">
            <span class="navbar-text">
                <form class="d-flex" action="index.php" method="GET">
                    <input name="controller" type="hidden" value="search">
                    <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> &nbsp;&nbsp;
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </span>
        </div>
            
    </div>
</div>
</nav>